<style type="text/css">
    ol { list-style-type: upper-alpha; }
</style>

<center> <img src=https://i.imgur.com/0TSSaqL.png width="550"> </center>

<center> <h3> Module 3: Programación en Python </h3> </center>
<center> <h4> Sesiones síncronas - 20221223 - Funciones</h4> </center>

### **Ejercicio 1**
Escribir un programa que pida números hasta que el usuario escriba un 0 y definir funciones que:
1. Convierta los elementos de la lista en su valor techo (ceil)
2. Convierta los elementos de la lista en su valor suelo (floor)
3. Convierta los elementos de la lista en su valor absoluto

Hacer uso del módulo math y funciones de orden superior.

In [1]:
# Ejercicio 1
import math as mt
num = True
nums = list()
while num != 0:
  try:
    num = float(
      input(
        "Introduzca un valor numérico (0, para salir): "
      )
    )
    if num:
      nums.append(num)
  except:
    print("Por favor, introduzca un valor numérico")

print("Valor techo", list(map(lambda x: mt.ceil(x), nums)))
print("Valor suelo", list(map(lambda x: mt.floor(x), nums)))
print("Valor absoluto", list(map(lambda x: mt.fabs(x), nums)))

Introduzca un valor numérico (0, para salir): 13.74
Introduzca un valor numérico (0, para salir): 7.44
Introduzca un valor numérico (0, para salir): 3.78
Introduzca un valor numérico (0, para salir): -9.81
Introduzca un valor numérico (0, para salir): -1.63345
Introduzca un valor numérico (0, para salir): 9.53
Introduzca un valor numérico (0, para salir): -125.63
Introduzca un valor numérico (0, para salir): 0
Valor techo [14, 8, 4, -9, -1, 10, -125]
Valor suelo [13, 7, 3, -10, -2, 9, -126]
Valor absoluto [13.74, 7.44, 3.78, 9.81, 1.63345, 9.53, 125.63]

### **Ejercicio 2**
Escribir un programa que dada una cadena de texto que contenga de forma intercalada números y letras como por ejemplo:
```
string = "La 35 casa 12 en la que vivimos tiene 3 pisos"
```
extraiga los números a una lista y los muestre, ordenados, aquellos que sean mayores que la longitud de la lista ordenada de números.

Hacer uso de funciones de orden superior.

In [2]:
# Ejercicio 2
s = "La 35 casa 12 en la que vivimos 334 tiene 3 pisos"
numbers = sorted([int(x) for x in s.split(' ') if x.isdigit()])
print(list(filter(lambda x: x > len(numbers), numbers)))

[12, 35, 334]

### **Ejercicio 3**
Escribir un programa que pida números hasta que el usuario escriba un 0 y definir funciones que calculen la suma de los números negativos y los números positivos.

Hacer uso de funciones de orden superior.

In [3]:
# Ejercicio 3
num = True
nums = list()
while num != 0:
  try:
    num = float(
      input(
        "Introduzca un valor numérico (0, para salir): "
      )
    )
    if num:
      nums.append(num)
  except:
    print("Por favor, introduzca un valor numérico")

print("Sum of the positive numbers: ",sum(list(filter(lambda nums: nums < 0, nums))))
print("Sum of the negative numbers: ",sum(list(filter(lambda nums: nums > 0, nums))))

Introduzca un valor numérico (0, para salir): -12959.6
Introduzca un valor numérico (0, para salir): 23.55553
Introduzca un valor numérico (0, para salir): 962.34
Introduzca un valor numérico (0, para salir): -23
Introduzca un valor numérico (0, para salir): 0
Sum of the positive numbers:  -12982.6
Sum of the negative numbers:  985.89553

### **Ejercicio 4**
Escribir un programa que dada la siguiente lista de diccionarios:
```
[
  {"fecha": "202112", "beneficios_ventas_fisicas": 34656.35, "beneficios_ventas_online": 2235.95, "stock": 153},
  {"fecha": "202201", "beneficios_ventas_fisicas": 42304.12, "beneficios_ventas_online": 5231.91, "stock": 126},
  {"fecha": "202202", "beneficios_ventas_fisicas": 23565.24, "beneficios_ventas_online": 8401.9, "stock": 95},
  {"fecha": "202203", "beneficios_ventas_fisicas": 24013.45, "beneficios_ventas_online": 12045.5, "stock": 64},
  {"fecha": "202204", "beneficios_ventas_fisicas": 90228.7, "beneficios_ventas_online": 27909.85, "stock": 14}
]
```
Transforme la fecha en formato datetime YYYY-MM-DD HH:mm:ss, usando las 00:00 del último día del mes y añada una nueva clave en el diccionario con la media entre los beneficios de las ventas físicas y online.

In [4]:
# Ejercicio 4
import datetime as dt
dicts = [
  {"fecha": "202112", "beneficios_ventas_fisicas": 34656.35, "beneficios_ventas_online": 2235.95, "stock": 153},
  {"fecha": "202201", "beneficios_ventas_fisicas": 42304.12, "beneficios_ventas_online": 5231.91, "stock": 126},
  {"fecha": "202202", "beneficios_ventas_fisicas": 23565.24, "beneficios_ventas_online": 8401.9, "stock": 95},
  {"fecha": "202203", "beneficios_ventas_fisicas": 24013.45, "beneficios_ventas_online": 12045.5, "stock": 64},
  {"fecha": "202204", "beneficios_ventas_fisicas": 90228.7, "beneficios_ventas_online": 27909.85, "stock": 14}
]

add_day = {
    "202112": "31", 
    "202201": "31", 
    "202202": "28", 
    "202203": "31",
    "202204": "30"
}
for d in dicts:
  fecha = d["fecha"] + add_day[d["fecha"]]
  d["fecha"] = dt.datetime.strptime(fecha, "%Y%m%d").strftime("%Y-%m-%d %H:%M:%S")
  d["media_beneficios"] = (d["beneficios_ventas_fisicas"] + d["beneficios_ventas_online"]) / 2
  print(d)

{'fecha': '2021-12-31 00:00:00', 'beneficios_ventas_fisicas': 34656.35, 'beneficios_ventas_online': 2235.95, 'stock': 153, 'media_beneficios': 18446.149999999998}
{'fecha': '2022-01-31 00:00:00', 'beneficios_ventas_fisicas': 42304.12, 'beneficios_ventas_online': 5231.91, 'stock': 126, 'media_beneficios': 23768.015}
{'fecha': '2022-02-28 00:00:00', 'beneficios_ventas_fisicas': 23565.24, 'beneficios_ventas_online': 8401.9, 'stock': 95, 'media_beneficios': 15983.57}
{'fecha': '2022-03-31 00:00:00', 'beneficios_ventas_fisicas': 24013.45, 'beneficios_ventas_online': 12045.5, 'stock': 64, 'media_beneficios': 18029.475}
{'fecha': '2022-04-30 00:00:00', 'beneficios_ventas_fisicas': 90228.7, 'beneficios_ventas_online': 27909.85, 'stock': 14, 'media_beneficios': 59069.274999999994}

### **Ejercicio 5**
Escribir un programa que determine cual es el máximo elemento de una lista utilizando funciones de orden superior.

Prohibido usar la función `max` sobre listas.

In [5]:
# Ejercicio 5
from functools import reduce
A = [-125, 34, 1, 25, 23.23]
reduce(lambda x, y: x if x > y else y, A)

34

### **Ejercicio 6**
Escribir un programa que ayude en el procedimiento de contabilidad de una tienda de libros en la que disponen de la información de número de pedido, titulo del libro y autor, cantidad y precio por libro como lista de listas de la siguiente forma:
```
[
  [22039, "El Jardín Olvidado, Kate Morton", 7, 15],
  [98423, "Marina, Carlos Ruiz Zafón", 2, 24.95],
  [72934, "El Niño con el Pijama de Rayas, John Boyne", 5, 12.95],
  [12042, "La Insoportable Levedad del Ser, Milan Kundera", 3, 19.99]
]
```
devolviendo una lista de tuplas de dos elementos que contenga el numero de pedido del producto y el precio total del pedido. El precio ha de incluir un coste de gastos de envío de 10€ si el precio del pedido es menor que 100€.

Hacer uso de funciones de orden superior.

In [6]:
# Ejercicio 6
orders = [
  [22039, "El Jardín Olvidado, Kate Morton", 7, 15],
  [98423, "Marina, Carlos Ruiz Zafón", 2, 24.95],
  [72934, "El Niño con el Pijama de Rayas, John Boyne", 5, 12.95],
  [12042, "La Insoportable Levedad del Ser, Milan Kundera", 3, 19.99]
]

min_order = 100
totals = list(
    map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), 
        map(lambda x: (x[0],x[2] * x[3]), orders)
    )
)
print(totals)

[(22039, 105), (98423, 59.9), (72934, 74.75), (12042, 69.97)]

### **Ejercicio 7**
Escribir un programa que ayude en el procedimiento de contabilidad de una tienda de libros en la que disponen de la información de la siguiente forma:
```
# [Numero de pedido, (Ref. Articulo, Cantidad, Precio), (Ref. Articulo, Cantidad, Precio) ...]
[
  [22039, ("5523", 7, 15), ("1128", 3, 9.99), ("825", 1, 45.85)],
  [98423, ("5523", 7, 15), ("345", 6, 17.95)],
  [72934, ("825", 1, 45.85), ("1593", 1, 12.25), ("3952", 2, 27.95), ("1128", 1, 9.99)],
]
```
Escribir un programa que devuelva una lista de tuplas de dos elementos que contenga el numero de pedido del producto y el precio total del pedido. El precio ha de incluir un coste de gastos de envío de 10€ si el precio del pedido es menor que 100€.

In [7]:
# Ejercicio 7
from functools import reduce
orders = [
  [22039, ("5523", 7, 15), ("1128", 3, 9.99), ("825", 1, 45.85)],
  [98423, ("5523", 7, 15), ("345", 6, 17.95)],
  [72934, ("825", 1, 45.85), ("1593", 1, 12.25), ("3952", 2, 27.95), ("1128", 1, 9.99)],
]
min_order = 100
totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
totals = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1:])], totals))
totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), totals))
print(totals)

[[22039, 180.82], [98423, 212.7], [72934, 123.99]]

### **Ejercicio 8**
Escribir una funcion decoradora que nos permita medir el tiempo de ejecución de una función y utilizarla para comprobar el tiempo que tarda una función en calcular los 10 primeros elementos de la sucesión de Fibonacci.

In [8]:
# Ejercicio 8
def tiempo_ejec(funcion):
    def wrapper():
        import time
        inicio = time.time()
        result = funcion()
        total = time.time() - inicio
        print(total, 'segundos')
        return result
    return wrapper

@tiempo_ejec
def fibonacci():
  cont = 2
  n0 = 0
  n1 = 1
  while cont <= 10:
    if cont > 2:
      n1 = n0 + n1
      n0 = n1 - n0
      cont += 1
      print(n1)
    else:
      print(n0)
      print(n1)
      cont += 1

fibonacci()

0
1
1
2
3
5
8
13
21
34
0.004303455352783203 segundos


### **Ejercicio 9**
Escribir un programa que dada una lista de palabras, i.e:
```
["geográfico", "Patata", "matón", "Hogar", "familia", "canción", "teñir"]
```
Nos muestre por pantalla aquellas que contienen tilde o eñe.

Usar expresiones regulares.

In [9]:
# Ejercicio 9
import re
text = ["geográfico", "Patata", "matón", "Hogar", "familia", "canción", "teñir"]
patron = re.compile(r"w*[ñáéíóúÑÁÉÍÓÚ]w*")

def caracteres_especiales(palabra):
  if patron.search(palabra):
    print(palabra)

out = list(map(caracteres_especiales, text))

geográfico
matón
canción
teñir

### **Ejercicio 10**
Escribir un programa que dada una fecha como cadena de texto de la forma:
```
12/11/2023
```
Compruebe si se trata de una fecha válida. Consideraremos únicamente los años a partir del 1.

Usar expresiones regulares.

In [10]:
# Ejercicio 10
import re
fecha = re.compile(r'^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(0?0?0?[1-9]|0?0?[1-9]\d|0?[1-9]\d\d|[1-9]\d{3})$')

dates = ["125/10/1923", "9/34/2015", "12/2/1995", "28/2/1294", "16/9/32"]
for date in dates:
  if fecha.search(date):
      print(date, "es una fecha válida")
  else:
      print(date, "es una fecha inválida")

125/10/1923 es una fecha inválida
9/34/2015 es una fecha inválida
12/2/1995 es una fecha válida
28/2/1294 es una fecha válida
16/9/32 es una fecha válida